[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
fastapi = "*"
uvicorn = "*"
geopy = "*"
pylint = "*"
pydeck = "*"
pyproj = "*"
plotly = "*"
dash = "*"
folium = "*"
streamlit-folium = "*"
streamlit = "*"
leafmap = "*"
requests="*"
flask="*"
flask_cors="*"

[dev-packages]

[requires]
python_version = "3.12"
